.register {
    display: flex;
	justify-content: center;
    min-height: calc(100vh - var(--header-height));
    top: 0;
    background-size: cover;
	background-image: url("https://i.imgur.com/AOO6MxD.png");
    background-position: center;

    h4 {
        margin: 0!important;
    }

    .register-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 64px;
        width: 720px;
        height: 550px;
        background-color: white;
        padding: 12px 24px;
		border-radius: 12px;
		border: 2px solid var(--main-color);
		box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
			rgba(0, 0, 0, 0.22) 0px 10px 10px;
        
        .form-controls {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;

            .error {
                padding-left: 8px;
                margin-top: 4px;
                color: red
            }
        }
    }
}